@import '../../styles/color.scss';

.header {
    margin: 20px 30px 15px 30px;
    height: 36px;
    display: flex;
    align-items: center;
    color: $black2;
    font-size: 11px;

    &__left {
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: left;
        gap: 30px;

        &__logo {
            width: 25px;
            display: flex;
            align-items: center;
            padding-left: 3px;

            .img {
                width: 25px;
                height: auto;

            }
        }

        &__menu {
            display: flex;
            align-items: center;
            gap: 30px;

            &__item {
                display: flex;
                align-items: center;
                gap: 7px;
                height: 36px;
                cursor: pointer;

                &:active {
                    border-bottom: 3px solid $gray3;
                }

                &.active {
                    border-bottom: 3px solid $primary;
                    font-weight: 700;
                }

                .icon {
                    font-size: 21px;
                    padding-left: 4px;
                }
                .text {
                    padding-right: 6px;
                }
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 20%;
        gap: 7px;

        &__text {
            font-size: 11px;
        }
        &__icon {
            width: 30px !important;
            height: auto !important;
        }
    }


}