$primary: #174AE4;
$secondary: #F5F8FF;
$white: #FFFFFF;
$gray1: #FDFDFD;
$gray2: #F5F5F5;
$gray3: #E7E6E6;
$gray4: #BDBDBD;
$black1: #111111;
$black2: #444444;
$black3: #666666;
$open: #2F8526;
$close: #8B64B1;